USE [master]
GO
/****** Object:  Database [UPEMv1]    Script Date: 26/08/2024 09:40:51 p. m. ******/
CREATE DATABASE [UPEMv1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UPEMv1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UPEMv1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UPEMv1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UPEMv1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UPEMv1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UPEMv1]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 26/08/2024 09:40:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[ID_Alumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[ApellidoP] [nvarchar](100) NULL,
	[ApellidoM] [nvarchar](100) NULL,
	[Contraseña] [nvarchar](100) NULL,
	[FechaNacimiento] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](13) NULL,
	[ID_Licenciatura] [int] NULL,
	[ID_Modalidad] [int] NULL,
	[Grado] [nvarchar](10) NULL,
	[ID_Ciclo] [int] NULL,
	[Direccion] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALIFICACIONES]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALIFICACIONES](
	[ID_Calificacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Alumno] [int] NULL,
	[ID_Materia] [int] NULL,
	[Calificacion] [decimal](5, 2) NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Calificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CICLO]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CICLO](
	[ID_Ciclo] [int] NOT NULL,
	[Ciclo_En_Curso] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ciclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCENTES]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTES](
	[ID_Docente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[ApellidoP] [nvarchar](100) NULL,
	[ApellidoM] [nvarchar](100) NULL,
	[Contraseña] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Docente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVAL_DOCENTE]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVAL_DOCENTE](
	[ID_Evaluacion] [int] NOT NULL,
	[ID_Docente] [int] NULL,
	[ID_Materia] [int] NULL,
	[Claridad] [nvarchar](100) NULL,
	[DominioDelTema] [nvarchar](100) NULL,
	[Actitud] [nvarchar](100) NULL,
	[Puntualidad] [nvarchar](100) NULL,
	[Comentarios] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Evaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_ACADEMICO]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_ACADEMICO](
	[ID_Historial] [int] NOT NULL,
	[ID_Alumno] [int] NULL,
	[ID_Materia] [int] NULL,
	[ID_Ciclo] [int] NULL,
	[ID_Calificacion] [int] NULL,
	[Observaciones] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS](
	[ID_Horario] [int] NOT NULL,
	[ID_Modalidad] [int] NULL,
	[ID_Licenciatura] [int] NULL,
	[ID_Materia] [int] NULL,
	[ID_Docente] [int] NULL,
	[Hora] [time](7) NOT NULL,
	[No_Aula] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPARTE]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPARTE](
	[ID_Imparte] [int] IDENTITY(1,1) NOT NULL,
	[ID_Docente] [int] NULL,
	[ID_Materia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Imparte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICENCIATURAS]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENCIATURAS](
	[ID_Licenciatura] [int] IDENTITY(1,1) NOT NULL,
	[ID_Alumno] [int] NULL,
	[ID_Docente] [int] NULL,
	[Nombre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Licenciatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAS]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAS](
	[ID_Materia] [int] IDENTITY(1,1) NOT NULL,
	[ID_Alumno] [int] NULL,
	[ID_Docente] [int] NULL,
	[Nombre] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[ID_Licenciatura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODALIDAD]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODALIDAD](
	[ID_Modalidad] [int] NOT NULL,
	[Modalidad] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Modalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 26/08/2024 09:40:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[ID_Pago] [int] IDENTITY(1,1) NOT NULL,
	[ID_Alumno] [int] NULL,
	[Monto] [decimal](10, 2) NULL,
	[FormaPago] [nvarchar](100) NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [ID_Ciclo] FOREIGN KEY([ID_Ciclo])
REFERENCES [dbo].[CICLO] ([ID_Ciclo])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [ID_Ciclo]
GO
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [ID_Licenciatura] FOREIGN KEY([ID_Licenciatura])
REFERENCES [dbo].[LICENCIATURAS] ([ID_Licenciatura])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [ID_Licenciatura]
GO
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [ID_Modalidad] FOREIGN KEY([ID_Modalidad])
REFERENCES [dbo].[MODALIDAD] ([ID_Modalidad])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [ID_Modalidad]
GO
ALTER TABLE [dbo].[CALIFICACIONES]  WITH CHECK ADD FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[ALUMNO] ([ID_Alumno])
GO
ALTER TABLE [dbo].[CALIFICACIONES]  WITH CHECK ADD FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[MATERIAS] ([ID_Materia])
GO
ALTER TABLE [dbo].[EVAL_DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_IDDocente] FOREIGN KEY([ID_Docente])
REFERENCES [dbo].[DOCENTES] ([ID_Docente])
GO
ALTER TABLE [dbo].[EVAL_DOCENTE] CHECK CONSTRAINT [FK_IDDocente]
GO
ALTER TABLE [dbo].[EVAL_DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_MateriaID] FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[MATERIAS] ([ID_Materia])
GO
ALTER TABLE [dbo].[EVAL_DOCENTE] CHECK CONSTRAINT [FK_MateriaID]
GO
ALTER TABLE [dbo].[HISTORIAL_ACADEMICO]  WITH CHECK ADD  CONSTRAINT [FK_ID_Alumno] FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[ALUMNO] ([ID_Alumno])
GO
ALTER TABLE [dbo].[HISTORIAL_ACADEMICO] CHECK CONSTRAINT [FK_ID_Alumno]
GO
ALTER TABLE [dbo].[HISTORIAL_ACADEMICO]  WITH CHECK ADD  CONSTRAINT [FK_ID_Calificacion] FOREIGN KEY([ID_Calificacion])
REFERENCES [dbo].[CALIFICACIONES] ([ID_Calificacion])
GO
ALTER TABLE [dbo].[HISTORIAL_ACADEMICO] CHECK CONSTRAINT [FK_ID_Calificacion]
GO
ALTER TABLE [dbo].[HISTORIAL_ACADEMICO]  WITH CHECK ADD  CONSTRAINT [FK_IDMateria] FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[MATERIAS] ([ID_Materia])
GO
ALTER TABLE [dbo].[HISTORIAL_ACADEMICO] CHECK CONSTRAINT [FK_IDMateria]
GO
ALTER TABLE [dbo].[HISTORIAL_ACADEMICO]  WITH CHECK ADD  CONSTRAINT [IDCiclo] FOREIGN KEY([ID_Ciclo])
REFERENCES [dbo].[CICLO] ([ID_Ciclo])
GO
ALTER TABLE [dbo].[HISTORIAL_ACADEMICO] CHECK CONSTRAINT [IDCiclo]
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_Docente] FOREIGN KEY([ID_Docente])
REFERENCES [dbo].[DOCENTES] ([ID_Docente])
GO
ALTER TABLE [dbo].[HORARIOS] CHECK CONSTRAINT [FK_ID_Docente]
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_Licenciatura] FOREIGN KEY([ID_Licenciatura])
REFERENCES [dbo].[LICENCIATURAS] ([ID_Licenciatura])
GO
ALTER TABLE [dbo].[HORARIOS] CHECK CONSTRAINT [FK_ID_Licenciatura]
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_Materia] FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[MATERIAS] ([ID_Materia])
GO
ALTER TABLE [dbo].[HORARIOS] CHECK CONSTRAINT [FK_ID_Materia]
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD  CONSTRAINT [Modalidad_id] FOREIGN KEY([ID_Modalidad])
REFERENCES [dbo].[MODALIDAD] ([ID_Modalidad])
GO
ALTER TABLE [dbo].[HORARIOS] CHECK CONSTRAINT [Modalidad_id]
GO
ALTER TABLE [dbo].[IMPARTE]  WITH CHECK ADD FOREIGN KEY([ID_Docente])
REFERENCES [dbo].[DOCENTES] ([ID_Docente])
GO
ALTER TABLE [dbo].[IMPARTE]  WITH CHECK ADD FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[MATERIAS] ([ID_Materia])
GO
ALTER TABLE [dbo].[LICENCIATURAS]  WITH CHECK ADD FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[ALUMNO] ([ID_Alumno])
GO
ALTER TABLE [dbo].[LICENCIATURAS]  WITH CHECK ADD FOREIGN KEY([ID_Docente])
REFERENCES [dbo].[DOCENTES] ([ID_Docente])
GO
ALTER TABLE [dbo].[MATERIAS]  WITH CHECK ADD FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[ALUMNO] ([ID_Alumno])
GO
ALTER TABLE [dbo].[MATERIAS]  WITH CHECK ADD FOREIGN KEY([ID_Docente])
REFERENCES [dbo].[DOCENTES] ([ID_Docente])
GO
ALTER TABLE [dbo].[MATERIAS]  WITH CHECK ADD  CONSTRAINT [FK_Licenciatura] FOREIGN KEY([ID_Licenciatura])
REFERENCES [dbo].[LICENCIATURAS] ([ID_Licenciatura])
GO
ALTER TABLE [dbo].[MATERIAS] CHECK CONSTRAINT [FK_Licenciatura]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[ALUMNO] ([ID_Alumno])
GO
USE [master]
GO
